page-location-details {
    #imgHolder img {
        -webkit-filter: blur(3px); /* Safari */
        filter: blur(3px);
    }

    #imgHolder::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    #imgHolder::-webkit-scrollbar
    {
        width: 12px;
        background-color: #F5F5F5;
    }

    #imgHolder::-webkit-scrollbar-thumb
    {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #555;
    }
}