page-tutorial {
  .toolbar-background {
    background: transparent;
    border-color: transparent;
  }

  .slide-zoom {
    height: 100%;
  }

  .slide-title {
    margin-top: 0.2rem;
  }

  .slide-image {
    max-height: 75%;
    max-width: 85%;
    margin: 18px 0;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 12px;
    font-size: 14px;
    line-height: .5;
    color: #60646B;

    b {
      color: #000000;
    }
  }

}
