<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'My Account' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-avatar item-left>
        <img *ngIf="user" [src]="user.imageUrl">
      </ion-avatar>
      <h2 *ngIf="user">{{user.givenName}} {{user.familyName}}</h2>
      <h3 *ngIf="user">{{user.email}}</h3>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
        Settings
    </ion-list-header>
    <button ion-item menuClose (click)="logout()">
        <ion-icon item-left name="log-out"></ion-icon>
        Logout
    </button>
    <button ion-item menuClose (click)="changeUser()">
        <ion-icon item-left name="person-add"></ion-icon>
        Change User
    </button>
  </ion-list>

</ion-content>
